#Global
.Apple*
.DS_Store
._*
.clang_complete
.local.vimrc
.ycm_extra_conf.py*
Thumbs.db

# /
/*.exe
/*.ilk
/*.log
/*.ncb
/*.opensdf
/*.opt
/*.pdb
/*.pid
/*.sdf
/*.stackdump
/*.suo
/*.exp
/*.lib
/*.v11
/*.v12
/autom4te.cache/
/start-log.txt
/char-server
/config.log
/config.status
/core
/ipch
/login-server
/Makefile
/Makefile.cache
/map-server
/mapcache

# libconfig
/Source/3rdparty/libconfig/*.o

# mt19937ar
/Source/3rdparty/mt19937ar/*.o

/Source/src/char/obj_sql

# common
/Source/src/common/obj_all
/Source/src/common/obj_sql
/Source/src/common/sysinfo.inc

# login/
/Source/src/login/Makefile
/Source/src/login/obj_sql

# map/
/Source/src/map/obj_sql

# /vcproj-*
/Source/vcproj-*/*.user
/Source/vcproj-*/char-server
/Source/vcproj-*/login-server
/Source/vcproj-*/map-server
/Source/vcproj-*/mapcache
/Source/vcproj-*/plugin-*/
